In [73]:
# Import dependencies
import pandas as pd
import numpy as np
pd.set_option('max_colwidth', 400)

### Extract the crowdfunding.xlsx Data

In [74]:
# Read the data into a Pandas DataFrame
crowdfunding_info_df = pd.read_excel('Resources/crowdfunding.xlsx')
crowdfunding_info_df.head()

,cf_id,contact_id,company_name,blurb,goal,pledged,outcome,backers_count,country,currency,launched_at,deadline,staff_pick,spotlight,category & sub-category
0,147,4661,"Baldwin, Riley and Jackson",Pre-emptive tertiary standardization,100,0,failed,0,CA,CAD,1581573600,1614578400,False,False,food/food trucks
1,1621,3765,Odom Inc,Managed bottom-line architecture,1400,14560,successful,158,US,USD,1611554400,1621918800,False,True,music/rock
2,1812,4187,"Melton, Robinson and Fritz",Function-based leadingedge pricing structure,108400,142523,successful,1425,AU,AUD,1608184800,1640844000,False,False,technology/web
3,2156,4941,"Mcdonald, Gonzalez and Ross",Vision-oriented fresh-thinking conglomeration,4200,2477,failed,24,US,USD,1634792400,1642399200,False,False,music/rock
4,1365,2199,Larson-Little,Proactive foreground core,7600,5265,failed,53,US,USD,1608530400,1629694800,False,False,theater/plays

In [9]:
# Get a brief summary of the crowdfunding_info DataFrame.
# Part 1
crowdfunding_info_df.describe()

,cf_id,contact_id,goal,pledged,backers_count,launched_at,deadline
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1.000000e+03,1.000000e+03
mean,1585.743000,3751.434000,43983.100000,42748.055000,727.005000,1.610955e+09,1.627459e+09
std,926.944534,1431.743284,58962.425595,57415.481551,1137.723135,1.330154e+07,9.072194e+06
min,23.000000,1235.000000,100.000000,0.000000,0.000000,1.579068e+09,1.609913e+09
25%,758.750000,2502.750000,4200.000000,5911.250000,86.000000,1.601507e+09,1.619672e+09
50%,1571.500000,3706.500000,8300.000000,11950.000000,184.500000,1.611554e+09,1.627232e+09
75%,2402.250000,4994.250000,80625.000000,66294.250000,923.750000,1.620018e+09,1.635224e+09
max,3209.000000,6234.000000,199200.000000,199110.000000,7295.000000,1.643695e+09,1.645596e+09

In [8]:
# Get a brief summary of the crowdfunding_info DataFrame.
# Part 2
crowdfunding_info_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   cf_id                    1000 non-null   int64
 1   contact_id               1000 non-null   int64
 2   company_name             1000 non-null   object
 3   blurb                    1000 non-null   object
 4   goal                     1000 non-null   int64
 5   pledged                  1000 non-null   int64
 6   outcome                  1000 non-null   object
 7   backers_count            1000 non-null   int64
 8   country                  1000 non-null   object
 9   currency                 1000 non-null   object
 10  launched_at              1000 non-null   int64
 11  deadline                 1000 non-null   int64
 12  staff_pick               1000 non-null   bool
 13  spotlight                1000 non-null   bool
 14  category & sub-category  1000 non-null   object
dtypes: bool(2), int64(7), object(6)
memory usage: 103.6+ KB

### Create the Category and Subcategory DataFrames
---
**Create a Category DataFrame that has the following columns:**
- A "category_id" column that is numbered sequential form 1 to the length of the number of unique categories.
- A "category" column that has only the categories.

Export the DataFrame as a `category.csv` CSV file.

**Create a SubCategory DataFrame that has the following columns:**
- A "subcategory_id" column that is numbered sequential form 1 to the length of the number of unique subcategories.
- A "subcategory" column that has only the subcategories. 

Export the DataFrame as a `subcategory.csv` CSV file.

In [119]:
# Get the crowdfunding_info_df columns.
crowdfunding_info_df.columns

Index(['cf_id', 'contact_id', 'company_name', 'blurb', 'goal', 'pledged',
       'outcome', 'backers_count', 'country', 'currency', 'launched_at',
       'deadline', 'staff_pick', 'spotlight', 'category & sub-category'],
      dtype='object')

In [122]:
# Assign the category and subcategory values to category and subcategory columns.
crowdfunding_info_df[["category", "subcategory"]] = crowdfunding_info_df["category & sub-category"].str.split("/", n = 2, expand = True)
crowdfunding_info_df.head()

,cf_id,contact_id,company_name,blurb,goal,pledged,outcome,backers_count,country,currency,launched_at,deadline,staff_pick,spotlight,category & sub-category,category,subcategory
0,147,4661,"Baldwin, Riley and Jackson",Pre-emptive tertiary standardization,100,0,failed,0,CA,CAD,1581573600,1614578400,False,False,food/food trucks,food,food trucks
1,1621,3765,Odom Inc,Managed bottom-line architecture,1400,14560,successful,158,US,USD,1611554400,1621918800,False,True,music/rock,music,rock
2,1812,4187,"Melton, Robinson and Fritz",Function-based leadingedge pricing structure,108400,142523,successful,1425,AU,AUD,1608184800,1640844000,False,False,technology/web,technology,web
3,2156,4941,"Mcdonald, Gonzalez and Ross",Vision-oriented fresh-thinking conglomeration,4200,2477,failed,24,US,USD,1634792400,1642399200,False,False,music/rock,music,rock
4,1365,2199,Larson-Little,Proactive foreground core,7600,5265,failed,53,US,USD,1608530400,1629694800,False,False,theater/plays,theater,plays

In [124]:
# Get the unique categories and subcategories in separate lists.
categories = crowdfunding_info_df["category"].unique()
subcategories = crowdfunding_info_df["subcategory"].unique()
print(categories)
print(subcategories)

['food' 'music' 'technology' 'theater' 'film & video' 'publishing' 'games'
 'photography' 'journalism']
['food trucks' 'rock' 'web' 'plays' 'documentary' 'electric music' 'drama'
 'indie rock' 'wearables' 'nonfiction' 'animation' 'video games' 'shorts'
 'fiction' 'photography books' 'radio & podcasts' 'metal' 'jazz'
 'translations' 'television' 'mobile games' 'world music'
 'science fiction' 'audio']

In [125]:
# Get the number of distinct values in the categories and subcategories lists.
print(len(categories))
print(len(subcategories))

9
24

In [126]:
# Create numpy arrays from 1-9 for the categories and 1-24 for the subcategories.
category_ids = np.arange(1, 10)
subcategory_ids = np.arange(1, 25)

print(category_ids)
print(subcategory_ids)

[1 2 3 4 5 6 7 8 9]
[ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24]

In [129]:
# Use a list comprehension to add "cat" to each category_id. 
cat_ids= ['cat'+str(x) for x in category_ids]
# Use a list comprehension to add "subcat" to each subcategory_id.    
scat_ids= ['subcat'+str(x) for x in subcategory_ids]
    
print(cat_ids)
print(scat_ids)

['cat1', 'cat2', 'cat3', 'cat4', 'cat5', 'cat6', 'cat7', 'cat8', 'cat9']
['subcat1', 'subcat2', 'subcat3', 'subcat4', 'subcat5', 'subcat6', 'subcat7', 'subcat8', 'subcat9', 'subcat10', 'subcat11', 'subcat12', 'subcat13', 'subcat14', 'subcat15', 'subcat16', 'subcat17', 'subcat18', 'subcat19', 'subcat20', 'subcat21', 'subcat22', 'subcat23', 'subcat24']

In [131]:
# Create a category DataFrame with the category_id array as the category_id and categories list as the category name.
category_df = pd.DataFrame(list(zip(cat_ids,categories )), columns = ["category_id", "category"])
# Create a category DataFrame with the subcategory_id array as the subcategory_id and subcategories list as the subcategory name. 
subcategory_df = pd.DataFrame(list(zip(scat_ids,subcategories )), columns = ["subcategory_id", "subcategory"])

In [132]:
category_df

  category_id      category
0        cat1          food
1        cat2         music
2        cat3    technology
3        cat4       theater
4        cat5  film & video
5        cat6    publishing
6        cat7         games
7        cat8   photography
8        cat9    journalism

In [133]:
subcategory_df

   subcategory_id        subcategory
0         subcat1        food trucks
1         subcat2               rock
2         subcat3                web
3         subcat4              plays
4         subcat5        documentary
5         subcat6     electric music
6         subcat7              drama
7         subcat8         indie rock
8         subcat9          wearables
9        subcat10         nonfiction
10       subcat11          animation
11       subcat12        video games
12       subcat13             shorts
13       subcat14            fiction
14       subcat15  photography books
15       subcat16   radio & podcasts
16       subcat17              metal
17       subcat18               jazz
18       subcat19       translations
19       subcat20         television
20       subcat21       mobile games
21       subcat22        world music
22       subcat23    science fiction
23       subcat24              audio

In [134]:
# Export categories_df and subcategories_df as CSV files.
category_df.to_csv("Resources/category.csv", index=False)

subcategory_df.to_csv("Resources/subcategory.csv", index=False)

### Campaign DataFrame
----
**Create a Campaign DataFrame that has the following columns:**
- The "cf_id" column.
- The "contact_id" column.
- The “company_name” column.
- The "blurb" column is renamed as "description."
- The "goal" column.
- The "goal" column is converted to a `float` datatype.
- The "pledged" column is converted to a `float` datatype. 
- The "backers_count" column. 
- The "country" column.
- The "currency" column.
- The "launched_at" column is renamed as "launch_date" and converted to a datetime format. 
- The "deadline" column is renamed as "end_date" and converted to a datetime format.
- The "category_id" with the unique number matching the “category_id” from the category DataFrame. 
- The "subcategory_id" with the unique number matching the “subcategory_id” from the subcategory DataFrame.
- And, create a column that contains the unique four-digit contact ID number from the `contact.xlsx` file.
 

Then export the DataFrame as a `campaign.csv` CSV file.

In [135]:
# Create a copy of the crowdfunding_info_df DataFrame name campaign_df. 
campaign_df = crowdfunding_info_df.copy()
campaign_df.head()

,cf_id,contact_id,company_name,blurb,goal,pledged,outcome,backers_count,country,currency,launched_at,deadline,staff_pick,spotlight,category & sub-category,category,subcategory
0,147,4661,"Baldwin, Riley and Jackson",Pre-emptive tertiary standardization,100,0,failed,0,CA,CAD,1581573600,1614578400,False,False,food/food trucks,food,food trucks
1,1621,3765,Odom Inc,Managed bottom-line architecture,1400,14560,successful,158,US,USD,1611554400,1621918800,False,True,music/rock,music,rock
2,1812,4187,"Melton, Robinson and Fritz",Function-based leadingedge pricing structure,108400,142523,successful,1425,AU,AUD,1608184800,1640844000,False,False,technology/web,technology,web
3,2156,4941,"Mcdonald, Gonzalez and Ross",Vision-oriented fresh-thinking conglomeration,4200,2477,failed,24,US,USD,1634792400,1642399200,False,False,music/rock,music,rock
4,1365,2199,Larson-Little,Proactive foreground core,7600,5265,failed,53,US,USD,1608530400,1629694800,False,False,theater/plays,theater,plays

In [136]:
# Rename the blurb, launched_at, and deadline columns.
campaign_rename_df = campaign_df.rename(columns={"blurb": "description", "launched_at": "launched_date", "deadline": "end_date"})
campaign_rename_df

,cf_id,contact_id,company_name,description,goal,pledged,outcome,backers_count,country,currency,launched_date,end_date,staff_pick,spotlight,category & sub-category,category,subcategory
0,147,4661,"Baldwin, Riley and Jackson",Pre-emptive tertiary standardization,100,0,failed,0,CA,CAD,1581573600,1614578400,False,False,food/food trucks,food,food trucks
1,1621,3765,Odom Inc,Managed bottom-line architecture,1400,14560,successful,158,US,USD,1611554400,1621918800,False,True,music/rock,music,rock
2,1812,4187,"Melton, Robinson and Fritz",Function-based leadingedge pricing structure,108400,142523,successful,1425,AU,AUD,1608184800,1640844000,False,False,technology/web,technology,web
3,2156,4941,"Mcdonald, Gonzalez and Ross",Vision-oriented fresh-thinking conglomeration,4200,2477,failed,24,US,USD,1634792400,1642399200,False,False,music/rock,music,rock
4,1365,2199,Larson-Little,Proactive foreground core,7600,5265,failed,53,US,USD,1608530400,1629694800,False,False,theater/plays,theater,plays
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,2986,3684,Manning-Hamilton,Vision-oriented scalable definition,97300,153216,successful,2043,US,USD,1609221600,1622350800,False,True,food/food trucks,food,food trucks
996,2031,5784,Butler LLC,Future-proofed upward-trending migration,6600,4814,failed,112,US,USD,1634274000,1638252000,False,False,theater/plays,theater,plays
997,1627,1498,Ball LLC,Right-sized full-range throughput,7600,4603,canceled,139,IT,EUR,1636174800,1639116000,False,False,theater/plays,theater,plays
998,2175,6073,"Taylor, Santiago and Flores",Polarized composite customer loyalty,66600,37823,failed,374,US,USD,1602133200,1618117200,False,True,music/indie rock,music,indie rock
999,1788,4939,"Hernandez, Norton and Kelley",Expanded eco-centric policy,111100,62819,canceled,1122,US,USD,1609308000,1629262800,False,False,food/food trucks,food,food trucks

In [137]:
# Convert the goal and pledged columns to a `float` data type.
campaign_converted_df = campaign_rename_df.astype({'goal': 'float', 'pledged':'float'})

In [138]:
# Check the datatypes
campaign_converted_df.dtypes

cf_id                        int64
contact_id                   int64
company_name                object
description                 object
goal                       float64
pledged                    float64
outcome                     object
backers_count                int64
country                     object
currency                    object
launched_date                int64
end_date                     int64
staff_pick                    bool
spotlight                     bool
category & sub-category     object
category                    object
subcategory                 object
dtype: object

In [139]:
# Format the launched_date and end_date columns to datetime format
from datetime import datetime as dt
campaign_converted_df["launched_date"] = pd.to_datetime(campaign_converted_df["launched_date"])
campaign_converted_df["end_date"] = pd.to_datetime(campaign_converted_df["end_date"])

In [140]:
# Check the datatypes
campaign_converted_df.dtypes

cf_id                               int64
contact_id                          int64
company_name                       object
description                        object
goal                              float64
pledged                           float64
outcome                            object
backers_count                       int64
country                            object
currency                           object
launched_date              datetime64[ns]
end_date                   datetime64[ns]
staff_pick                           bool
spotlight                            bool
category & sub-category            object
category                           object
subcategory                        object
dtype: object

In [141]:
# Create category and subcategory columns to merge with the other dataframes
campaign_converted_df[["category", "subcategory"]] = campaign_converted_df["category & sub-category"].str.split("/", n = 2, expand = True)
campaign_converted_df.head()

,cf_id,contact_id,company_name,description,goal,pledged,outcome,backers_count,country,currency,launched_date,end_date,staff_pick,spotlight,category & sub-category,category,subcategory
0,147,4661,"Baldwin, Riley and Jackson",Pre-emptive tertiary standardization,100.0,0.0,failed,0,CA,CAD,1970-01-01 00:00:01.581573600,1970-01-01 00:00:01.614578400,False,False,food/food trucks,food,food trucks
1,1621,3765,Odom Inc,Managed bottom-line architecture,1400.0,14560.0,successful,158,US,USD,1970-01-01 00:00:01.611554400,1970-01-01 00:00:01.621918800,False,True,music/rock,music,rock
2,1812,4187,"Melton, Robinson and Fritz",Function-based leadingedge pricing structure,108400.0,142523.0,successful,1425,AU,AUD,1970-01-01 00:00:01.608184800,1970-01-01 00:00:01.640844000,False,False,technology/web,technology,web
3,2156,4941,"Mcdonald, Gonzalez and Ross",Vision-oriented fresh-thinking conglomeration,4200.0,2477.0,failed,24,US,USD,1970-01-01 00:00:01.634792400,1970-01-01 00:00:01.642399200,False,False,music/rock,music,rock
4,1365,2199,Larson-Little,Proactive foreground core,7600.0,5265.0,failed,53,US,USD,1970-01-01 00:00:01.608530400,1970-01-01 00:00:01.629694800,False,False,theater/plays,theater,plays

In [149]:
# Merge the campaign_df with the category_df on the "category" column and 
# the subcategory_df on the "subcategory" column.

campaign_merged_df = campaign_converted_df.merge(category_df , how = "left", on = "category")
campaign_merged_df = campaign_merged_df.merge(subcategory_df , how = "left", on = "subcategory")
campaign_merged_df.tail(10)

,cf_id,contact_id,company_name,description,goal,pledged,outcome,backers_count,country,currency,launched_date,end_date,staff_pick,spotlight,category & sub-category,category,subcategory,category_id,subcategory_id
990,1561,5500,Ortiz-Roberts,Devolved foreground customer loyalty,7800.0,6839.0,failed,64,US,USD,1970-01-01 00:00:01.623214800,1970-01-01 00:00:01.623992400,False,True,film & video/drama,film & video,drama,cat5,subcat7
991,2632,3494,Ramirez LLC,Reduced reciprocal focus group,9800.0,11091.0,successful,241,US,USD,1970-01-01 00:00:01.607493600,1970-01-01 00:00:01.622005200,False,True,music/rock,music,rock,cat2,subcat2
992,439,3924,Morrow Inc,Networked global migration,3100.0,13223.0,successful,132,US,USD,1970-01-01 00:00:01.592110800,1970-01-01 00:00:01.612850400,False,True,film & video/drama,film & video,drama,cat5,subcat7
993,461,3521,Erickson-Rogers,De-engineered even-keeled definition,9800.0,7608.0,canceled,75,IT,EUR,1970-01-01 00:00:01.625288400,1970-01-01 00:00:01.625720400,False,True,photography/photography books,photography,photography books,cat8,subcat15
994,1419,5262,"Leach, Rich and Price",Implemented bi-directional flexibility,141100.0,74073.0,failed,842,US,USD,1970-01-01 00:00:01.636956000,1970-01-01 00:00:01.638856800,False,True,publishing/translations,publishing,translations,cat6,subcat19
995,2986,3684,Manning-Hamilton,Vision-oriented scalable definition,97300.0,153216.0,successful,2043,US,USD,1970-01-01 00:00:01.609221600,1970-01-01 00:00:01.622350800,False,True,food/food trucks,food,food trucks,cat1,subcat1
996,2031,5784,Butler LLC,Future-proofed upward-trending migration,6600.0,4814.0,failed,112,US,USD,1970-01-01 00:00:01.634274000,1970-01-01 00:00:01.638252000,False,False,theater/plays,theater,plays,cat4,subcat4
997,1627,1498,Ball LLC,Right-sized full-range throughput,7600.0,4603.0,canceled,139,IT,EUR,1970-01-01 00:00:01.636174800,1970-01-01 00:00:01.639116000,False,False,theater/plays,theater,plays,cat4,subcat4
998,2175,6073,"Taylor, Santiago and Flores",Polarized composite customer loyalty,66600.0,37823.0,failed,374,US,USD,1970-01-01 00:00:01.602133200,1970-01-01 00:00:01.618117200,False,True,music/indie rock,music,indie rock,cat2,subcat8
999,1788,4939,"Hernandez, Norton and Kelley",Expanded eco-centric policy,111100.0,62819.0,canceled,1122,US,USD,1970-01-01 00:00:01.609308000,1970-01-01 00:00:01.629262800,False,False,food/food trucks,food,food trucks,cat1,subcat1

In [150]:
# Drop unwanted columns
campaign_cleaned = campaign_merged_df.drop(columns=["category & sub-category", "category", "subcategory","staff_pick","spotlight" ])
campaign_cleaned.head()

,cf_id,contact_id,company_name,description,goal,pledged,outcome,backers_count,country,currency,launched_date,end_date,category_id,subcategory_id
0,147,4661,"Baldwin, Riley and Jackson",Pre-emptive tertiary standardization,100.0,0.0,failed,0,CA,CAD,1970-01-01 00:00:01.581573600,1970-01-01 00:00:01.614578400,cat1,subcat1
1,1621,3765,Odom Inc,Managed bottom-line architecture,1400.0,14560.0,successful,158,US,USD,1970-01-01 00:00:01.611554400,1970-01-01 00:00:01.621918800,cat2,subcat2
2,1812,4187,"Melton, Robinson and Fritz",Function-based leadingedge pricing structure,108400.0,142523.0,successful,1425,AU,AUD,1970-01-01 00:00:01.608184800,1970-01-01 00:00:01.640844000,cat3,subcat3
3,2156,4941,"Mcdonald, Gonzalez and Ross",Vision-oriented fresh-thinking conglomeration,4200.0,2477.0,failed,24,US,USD,1970-01-01 00:00:01.634792400,1970-01-01 00:00:01.642399200,cat2,subcat2
4,1365,2199,Larson-Little,Proactive foreground core,7600.0,5265.0,failed,53,US,USD,1970-01-01 00:00:01.608530400,1970-01-01 00:00:01.629694800,cat4,subcat4

In [151]:
# Export the DataFrame as a CSV file.
campaign_cleaned.to_csv("Resources/campaign.csv", index=False)

### Extract the contacts.xlsx Data.

In [65]:
# Read the data into a Pandas DataFrame. Use the `header=2` parameter when reading in the data.
contact_info_df = pd.read_excel('Resources/contacts.xlsx', header=3)
contact_info_df.head()

                                                                                contact_info
0   {"contact_id": 4661, "name": "Cecilia Velasco", "email": "cecilia.velasco@rodrigues.fr"}
1          {"contact_id": 3765, "name": "Mariana Ellis", "email": "mariana.ellis@rossi.org"}
2            {"contact_id": 4187, "name": "Sofie Woods", "email": "sofie.woods@riviere.com"}
3  {"contact_id": 4941, "name": "Jeanette Iannotti", "email": "jeanette.iannotti@yahoo.com"}
4        {"contact_id": 2199, "name": "Samuel Sorgatz", "email": "samuel.sorgatz@gmail.com"}

### Create the Contacts DataFrame 
---
**Create a Contacts DataFrame that has the following columns:**
- A column named "contact_id"  that contains the unique number of the contact person.
- A column named "first_name" that contains the first name of the contact person.
- A column named "last_name" that contains the first name of the contact person.
- A column named "email" that contains the email address of the contact person

Then export the DataFrame as a `contacts.csv` CSV file.

### Option 1: Use Pandas to create the contacts DataFrame.

In [66]:
# Iterate through the contact_info_df and convert each row to a dictionary.
import json
dict_values = []
for index, row in contact_info_df.iterrows():
    row_dict = json.loads(row["contact_info"])
    dict_values.append(row_dict.values())

# Print out the list of values for each row.
print(dict_values)

[dict_values([4661, 'Cecilia Velasco', 'cecilia.velasco@rodrigues.fr']), dict_values([3765, 'Mariana Ellis', 'mariana.ellis@rossi.org']), dict_values([4187, 'Sofie Woods', 'sofie.woods@riviere.com']), dict_values([4941, 'Jeanette Iannotti', 'jeanette.iannotti@yahoo.com']), dict_values([2199, 'Samuel Sorgatz', 'samuel.sorgatz@gmail.com']), dict_values([5650, 'Socorro Luna', 'socorro.luna@hotmail.com']), dict_values([5889, 'Carolina Murray', 'carolina.murray@knight.com']), dict_values([4842, 'Kayla Moon', 'kayla.moon@yahoo.de']), dict_values([3280, 'Ariadna Geisel', 'ariadna.geisel@rangel.com']), dict_values([5468, 'Danielle Ladeck', 'danielle.ladeck@scalfaro.net']), dict_values([3064, 'Tatiana Thompson', 'tatiana.thompson@hunt.net']), dict_values([4904, 'Caleb Benavides', 'caleb.benavides@rubio.com']), dict_values([1299, 'Sandra Hardy', 'sandra.hardy@web.de']), dict_values([5602, 'Lotti Morris', 'lotti.morris@yahoo.co.uk']), dict_values([5753, 'Reinhilde White', 'reinhilde.white@voila.fr']), dict_values([4495, 'Kerry Patel', 'kerry.patel@hutchinson.com']), dict_values([4269, 'Sophie Antoine', 'sophie.antoine@andersen.com']), dict_values([2226, 'Martha Girard', 'martha.girard@web.de']), dict_values([1558, 'Stephanie King', 'stephanie.king@cervantes.com']), dict_values([2307, 'Amanda Palmer', 'amanda.palmer@didier.fr']), dict_values([2900, 'Lina Alcala', 'lina.alcala@vespa.net']), dict_values([5695, 'Itzel Murphy', 'itzel.murphy@muelichen.de']), dict_values([5708, 'Filippo Parry', 'filippo.parry@live.com']), dict_values([1663, 'Katelyn Cole', 'katelyn.cole@fiebig.com']), dict_values([3605, 'Brian Novak', 'brian.novak@ford.net']), dict_values([4678, 'Cilly Gay', 'cilly.gay@callegaro.it']), dict_values([2251, 'Yolanda Snyder', 'yolanda.snyder@gmx.de']), dict_values([6202, 'Evelin Odonnell', 'evelin.odonnell@ibarra.net']), dict_values([3715, 'Ingeborg Alba', 'ingeborg.alba@hotmail.com']), dict_values([4242, 'Marina Madrid', 'marina.madrid@galarza-alba.com']), dict_values([4326, 'Sheila Goodwin', 'sheila.goodwin@yahoo.com']), dict_values([5560, 'Valeria Rich', 'valeria.rich@turchetta-mondadori.it']), dict_values([4002, 'Dustin Camacho', 'dustin.camacho@rhodes.org.au']), dict_values([3813, 'Amalia Marenzio', 'amalia.marenzio@grupo.com']), dict_values([5336, 'Gian Long', 'gian.long@hotmail.com']), dict_values([4994, 'Stewart Hunt', 'stewart.hunt@anderson-vargas.biz']), dict_values([1471, 'Greca Ruiz', 'greca.ruiz@carr.co.uk']), dict_values([4482, 'Gerald Olivera', 'gerald.olivera@outlook.com']), dict_values([3241, 'Jaqueline Wallace', 'jaqueline.wallace@gmail.com']), dict_values([3477, 'John Lane', 'john.lane@gregoire.fr']), dict_values([2265, 'Pero Joly', 'pero.joly@bernard.net']), dict_values([5911, 'Chad Turner', 'chad.turner@gmail.com']), dict_values([2288, 'Adam Zavala', 'adam.zavala@guichard.fr']), dict_values([4064, 'Tyler Rivera', 'tyler.rivera@guajardo-ozuna.com']), dict_values([1294, 'Jens Graham', 'jens.graham@jones-buckley.com']), dict_values([5008, 'Virginia Caetani', 'virginia.caetani@sosa.biz']), dict_values([3604, 'Martino Wagner', 'martino.wagner@laposte.net']), dict_values([3263, 'Martin Meyer', 'martin.meyer@davis.co.uk']), dict_values([5631, 'Marguerite Walls', 'marguerite.walls@martinez.fr']), dict_values([2851, 'Peter Vogt', 'peter.vogt@yahoo.com']), dict_values([3714, 'Nicholas Christian', 'nicholas.christian@hotmail.de']), dict_values([1664, 'Susi Steinberg', 'susi.steinberg@preiss.com']), dict_values([5027, 'Tammy Ramazzotti', 'tammy.ramazzotti@gmail.com']), dict_values([3070, 'Abdul Thomas', 'abdul.thomas@vasari.com']), dict_values([4248, 'Justin Luxardo', 'justin.luxardo@googlemail.com']), dict_values([2034, 'Antonio Gibson', 'antonio.gibson@faust.net']), dict_values([4085, 'Jeremy Gomez', 'jeremy.gomez@oconnor.org']), dict_values([3569, 'Raymond Solorzano', 'raymond.solorzano@gmail.com']), dict_values([3889, 'Flora Harris', 'flora.harris@hotmail.com.au']), dict_values([3136, 'Cheryl Boyd', 'cheryl.boyd@segni.it']), dict_values([2103, 'Rhys Leiva', 'rhys.leiva@gmx.de']), dict_values([2329, 'Mariano Prieto', 'mariano.prieto@vodafone.it']), dict_values([3325, 'Laurie Fibonacci', 'laurie.fibonacci@gmail.com']), dict_values([3131, 'David Rudolph', 'david.rudolph@nelson.com']), dict_values([4995, 'Bryan Ross', 'bryan.ross@yahoo.com']), dict_values([3631, 'Ubaldo Brown', 'ubaldo.brown@philippe.com']), dict_values([5373, 'Clelia Faulkner', 'clelia.faulkner@hotmail.com']), dict_values([3126, 'Sara Erickson', 'sara.erickson@yahoo.de']), dict_values([2194, 'Rupert Valle', 'rupert.valle@filogamo.it']), dict_values([2906, 'Puccio Kitzmann', 'puccio.kitzmann@yahoo.com']), dict_values([2611, 'Thomas Hutchinson', 'thomas.hutchinson@gmx.de']), dict_values([2374, 'Abelardo Castro', 'abelardo.castro@gmail.com']), dict_values([3254, 'Greco Walker', 'greco.walker@yahoo.com']), dict_values([3571, 'Miranda Lacombe', 'miranda.lacombe@longoria-vanegas.net']), dict_values([2812, 'Diana Schuchhardt', 'diana.schuchhardt@libero.it']), dict_values([3961, 'Stacey Knox', 'stacey.knox@corporacin.com']), dict_values([3872, 'Glen Faivre', 'glen.faivre@yahoo.com']), dict_values([4736, 'Andrew Torres', 'andrew.torres@ruiz-torres.org']), dict_values([5119, 'Denny Fritz', 'denny.fritz@despacho.biz']), dict_values([5725, 'Martyn Caldera', 'martyn.caldera@hotmail.co.uk']), dict_values([4037, 'Abigail Foster', 'abigail.foster@taylor.net']), dict_values([2109, 'Anthony Hauffer', 'anthony.hauffer@tlustek.org']), dict_values([3283, 'Roger Gerlach', 'roger.gerlach@may-mitchell.co.uk']), dict_values([6181, 'Christopher Poirier', 'christopher.poirier@hotmail.com']), dict_values([3251, 'Branka Traore', 'branka.traore@jacobi.com']), dict_values([3443, 'Briana Etienne', 'briana.etienne@bishop-coates.com']), dict_values([2988, 'Brandon Olson', 'brandon.olson@prince-moreno.net']), dict_values([1673, 'Celia Ungaretti', 'celia.ungaretti@fox.com']), dict_values([2085, 'Barbara Guibert', 'barbara.guibert@casares-sanches.com']), dict_values([1672, 'Daniela Bell', 'daniela.bell@vollbrecht.org']), dict_values([4426, 'Phyllis Gurule', 'phyllis.gurule@rodriguez-pham.com']), dict_values([3211, 'Alejandra Joseph', 'alejandra.joseph@escalante-abrego.biz']), dict_values([3190, 'Giulio Bohlander', 'giulio.bohlander@dbmail.com']), dict_values([2081, 'Amber Weller', 'amber.weller@toso.eu']), dict_values([3185, 'Mary Etzold', 'mary.etzold@conrad-harrison.com']), dict_values([5044, 'Amy Georges', 'amy.georges@raedel.de']), dict_values([1883, 'Jennifer Giraud', 'jennifer.giraud@yahoo.com']), dict_values([2067, 'Rosie Peltier', 'rosie.peltier@voila.fr']), dict_values([4604, 'Oreste Ward', 'oreste.ward@proyectos.com']), dict_values([3203, 'Luis Edwards', 'luis.edwards@live.com']), dict_values([5758, 'Fiona Griffiths', 'fiona.griffiths@curatoli-verdone.it']), dict_values([5755, 'Sally Raya', 'sally.raya@tarchetti.it']), dict_values([5150, 'Carolyn Charpentier', 'carolyn.charpentier@hotmail.de']), dict_values([4181, 'Nathalie Alvarez', 'nathalie.alvarez@live.com']), dict_values([3006, 'Abril Lowery', 'abril.lowery@novak.net']), dict_values([4865, 'Ottone Sullivan', 'ottone.sullivan@hussain-kaur.com']), dict_values([2862, 'Esmeralda Sollima', 'esmeralda.sollima@visintini.it']), dict_values([6070, 'Silvia Gierschner', 'silvia.gierschner@tele2.it']), dict_values([5300, 'Kyle Cunningham', 'kyle.cunningham@voila.fr']), dict_values([3486, 'Anel Carpentier', 'anel.carpentier@klein-joseph.org']), dict_values([5989, 'Sarah Davis', 'sarah.davis@david.com']), dict_values([2849, 'Luke Klein', 'luke.klein@hotmail.com']), dict_values([1612, 'Gudrun Mueller', 'gudrun.mueller@dillon-fuller.info']), dict_values([3307, 'Melissa Canali', 'melissa.canali@libero.it']), dict_values([5288, 'Gabrielle Ayala', 'gabrielle.ayala@hotmail.com']), dict_values([6026, 'Laura Buckley', 'laura.buckley@ryan.org']), dict_values([2212, 'Wilfrido Lorch', 'wilfrido.lorch@leclerc.fr']), dict_values([4591, 'Robert Bruder', 'robert.bruder@manzoni.com']), dict_values([2771, 'Phillip Soliz', 'phillip.soliz@outlook.com']), dict_values([5682, 'Alex Smith', 'alex.smith@fournier.fr']), dict_values([5368, 'Jessica Martinez', 'jessica.martinez@salieri.com']), dict_values([3706, 'Kelly Carter', 'kelly.carter@hotmail.com.au']), dict_values([4034, 'Ahmad Sosa', 'ahmad.sosa@gmail.com']), dict_values([3209, 'Toralf Iglesias', 'toralf.iglesias@borrego.com']), dict_values([2384, 'Irene Anichini', 'irene.anichini@yahoo.com']), dict_values([3074, 'Alicia Cainero', 'alicia.cainero@yahoo.com']), dict_values([2031, 'Tracey Laboy', 'tracey.laboy@bell.biz']), dict_values([5873, 'Donald Reynaud', 'donald.reynaud@green.edu.au']), dict_values([5501, 'Venancio Stadelmann', 'venancio.stadelmann@gmx.de']), dict_values([3489, 'Seth Olivier', 'seth.olivier@yahoo.com']), dict_values([4210, 'Dennis Boaga', 'dennis.boaga@gmx.de']), dict_values([6151, 'Pedro Wilson', 'pedro.wilson@outlook.com']), dict_values([6047, 'Roland Weihmann', 'roland.weihmann@gmail.com']), dict_values([5445, 'Hector Morrison', 'hector.morrison@web.de']), dict_values([5493, 'Evangelos Peters', 'evangelos.peters@sanchez.net']), dict_values([6036, 'Gerardo Hamilton', 'gerardo.hamilton@libero.it']), dict_values([2368, 'Meta Cuzzocrea', 'meta.cuzzocrea@howard-jensen.org']), dict_values([1501, 'Alma Raymond', 'alma.raymond@tin.it']), dict_values([4351, 'Kathleen Solimena', 'kathleen.solimena@wallace.biz']), dict_values([3096, 'Zacharie Cordier', 'zacharie.cordier@gmail.com']), dict_values([6162, 'Riza Techer', 'riza.techer@yahoo.com']), dict_values([1433, 'Enrique Guillen', 'enrique.guillen@hotmail.co.uk']), dict_values([2720, 'Tristan Weeks', 'tristan.weeks@pena.com']), dict_values([5251, 'Natalie Lerma', 'natalie.lerma@boucher.com']), dict_values([1797, 'Rodney Hamon', 'rodney.hamon@hotmail.com']), dict_values([1656, 'Adalberto Lombardo', 'adalberto.lombardo@sfr.fr']), dict_values([1346, 'Florencia Querini', 'florencia.querini@gmail.com']), dict_values([2989, 'Liam Rolland', 'liam.rolland@yahoo.fr']), dict_values([5629, 'Ian Kelly', 'ian.kelly@reeves.com.au']), dict_values([3456, 'Mehdi Todd', 'mehdi.todd@web.de']), dict_values([3229, 'Rembrandt Liguori', 'rembrandt.liguori@davis.org']), dict_values([2277, 'Irmi Schweitzer', 'irmi.schweitzer@ozuna.com']), dict_values([1276, 'Gioffre Stein', 'gioffre.stein@hotmail.com.au']), dict_values([3694, 'Frida Villarreal', 'frida.villarreal@hotmail.de']), dict_values([2260, 'Steffen Mangold', 'steffen.mangold@paul.net']), dict_values([5374, 'Elias Marin', 'elias.marin@herve.net']), dict_values([4420, 'Roman Gonzalez', 'roman.gonzalez@anderson.net']), dict_values([3849, 'Reina Middleton', 'reina.middleton@hotmail.com']), dict_values([1638, 'Sandro Moran', 'sandro.moran@hotmail.de']), dict_values([5230, 'Gebhard Thanel', 'gebhard.thanel@gmail.com']), dict_values([1763, 'Antonino Bolander', 'antonino.bolander@gmail.com']), dict_values([4323, 'Karl Trevisani', 'karl.trevisani@anguissola.it']), dict_values([5256, 'Silvester Brookes', 'silvester.brookes@franco.org']), dict_values([4836, 'Octavio Pratt', 'octavio.pratt@web.de']), dict_values([5981, 'Rebecca Greer', 'rebecca.greer@hotmail.com']), dict_values([1463, 'Pierina Gaggini', 'pierina.gaggini@free.fr']), dict_values([4577, 'Robin Schleich', 'robin.schleich@rogers-barrera.biz']), dict_values([4951, 'Sergio Abbott', 'sergio.abbott@moore.net.au']), dict_values([3567, 'Gilberto Evans', 'gilberto.evans@salcedo-archuleta.net']), dict_values([5475, 'James Elliott', 'james.elliott@gmail.com']), dict_values([2114, 'Timoteo Bolnbach', 'timoteo.bolnbach@laboratorios.com']), dict_values([5216, 'Tonino Stanley', 'tonino.stanley@hotmail.com']), dict_values([1665, 'Margaretha Murialdo', 'margaretha.murialdo@meunier.com']), dict_values([6051, 'Bianca Drubin', 'bianca.drubin@libero.it']), dict_values([3983, 'Kaylee Hoffmann', 'kaylee.hoffmann@poulain.com']), dict_values([2966, 'Teresa Vecellio', 'teresa.vecellio@yahoo.com']), dict_values([4478, 'Emine Tacchini', 'emine.tacchini@dbmail.com']), dict_values([4238, 'Dawn Cortez', 'dawn.cortez@gmail.com']), dict_values([4404, 'Emily Cundari', 'emily.cundari@clark.com.au']), dict_values([5666, 'Eleanor Hall', 'eleanor.hall@hotmail.com']), dict_values([3691, 'Monique Delgadillo', 'monique.delgadillo@hotmail.co.uk']), dict_values([2703, 'Arnaude Warner', 'arnaude.warner@gmail.com']), dict_values([4253, 'Jason Howell', 'jason.howell@gmx.de']), dict_values([5652, 'Nicole Mccullough', 'nicole.mccullough@hall.com']), dict_values([3279, 'Rosmarie Esquibel', 'rosmarie.esquibel@bouygtel.fr']), dict_values([3233, 'Leonor Ferreira', 'leonor.ferreira@gmail.com']), dict_values([3017, 'Brett Jones', 'brett.jones@alice.it']), dict_values([3482, 'Nino Bien', 'nino.bien@gmail.com']), dict_values([2166, 'Jemma Tate', 'jemma.tate@hotmail.de']), dict_values([4146, 'Denis Rogers', 'denis.rogers@poste.it']), dict_values([2651, 'Vanesa Khan', 'vanesa.khan@voila.fr']), dict_values([1409, 'Victoria Ojeda', 'victoria.ojeda@doehn.com']), dict_values([3717, 'Eugenio Martin', 'eugenio.martin@yahoo.de']), dict_values([3963, 'Nancy Hayes', 'nancy.hayes@hotmail.com']), dict_values([2152, 'Lara Jacob', 'lara.jacob@buckley.org']), dict_values([2974, 'Gino Hernandez', 'gino.hernandez@covarrubias.com']), dict_values([1268, 'Vicente Tijerina', 'vicente.tijerina@montanariello.com']), dict_values([1822, 'Michele Brambilla', 'michele.brambilla@yahoo.com']), dict_values([5066, 'Dana Ritacca', 'dana.ritacca@gmail.com']), dict_values([5075, 'Mitchell Bachmann', 'mitchell.bachmann@suarez-cruz.com']), dict_values([3855, 'Vincenza Key', 'vincenza.key@adams.com']), dict_values([5923, 'Salvador Gaillard', 'salvador.gaillard@yahoo.de']), dict_values([1867, 'Diane Rogner', 'diane.rogner@kelly.co.uk']), dict_values([4376, 'Josette Laine', 'josette.laine@saracino-parisi.net']), dict_values([2785, 'Courtney Fiebig', 'courtney.fiebig@doerschner.com']), dict_values([5884, 'Hugues Oliver', 'hugues.oliver@stiffel.com']), dict_values([2441, 'Espartaco Willis', 'espartaco.willis@hotmail.com']), dict_values([1243, 'Flavia Yoder', 'flavia.yoder@hotmail.de']), dict_values([3411, 'Casey Flores', 'casey.flores@baggio.org']), dict_values([2467, 'Calogero Cross', 'calogero.cross@mercantini.it']), dict_values([1850, 'Charles Begum', 'charles.begum@laboratorios.info']), dict_values([2604, 'Adina Pollard', 'adina.pollard@outlook.com']), dict_values([1693, 'Natasha Lara', 'natasha.lara@outlook.com']), dict_values([2969, 'Benita Pottier', 'benita.pottier@sfr.fr']), dict_values([1544, 'Elizabeth Valdivia', 'elizabeth.valdivia@gmail.com']), dict_values([4149, 'Mattia Huet', 'mattia.huet@aol.de']), dict_values([3463, 'Geza Howard', 'geza.howard@voila.fr']), dict_values([2939, 'Lauren Guillaume', 'lauren.guillaume@sorgatz.org']), dict_values([2202, 'Joanna Baxter', 'joanna.baxter@bruce-wright.com']), dict_values([1728, 'Tracy Metz', 'tracy.metz@bryant.info']), dict_values([5362, 'Birgit Pena', 'birgit.pena@armellini.it']), dict_values([4840, 'Elvira Papafava', 'elvira.papafava@ifrance.com']), dict_values([2955, 'Ernest Delorme', 'ernest.delorme@dowerg.de']), dict_values([5354, 'Christy Grossi', 'christy.grossi@alarcon-tafoya.com']), dict_values([3847, 'Hermelinda Olmos', 'hermelinda.olmos@portillo.com']), dict_values([3025, 'Herbert Fraser', 'herbert.fraser@holloway.org.au']), dict_values([1615, 'Giancarlo Heydrich', 'giancarlo.heydrich@hotmail.com']), dict_values([5154, 'Constance Maldonado', 'constance.maldonado@spiess.net']), dict_values([5005, 'Giampiero Carlier', 'giampiero.carlier@hotmail.com']), dict_values([1349, 'Carlo Jacquot', 'carlo.jacquot@hotmail.com']), dict_values([3670, 'Gabriel Robles', 'gabriel.robles@yahoo.com']), dict_values([2912, 'Gerd Gunpf', 'gerd.gunpf@gmail.com']), dict_values([4336, 'Ashley Hellwig', 'ashley.hellwig@libero.it']), dict_values([5576, 'Patrick Rosas', 'patrick.rosas@yahoo.com']), dict_values([2736, 'Lilla Leonard', 'lilla.leonard@jungfer.com']), dict_values([3321, 'Tony Nicolas', 'tony.nicolas@morrocco-seddio.net']), dict_values([3353, 'Allegra Benedetti', 'allegra.benedetti@miller.com']), dict_values([2336, 'Camille Tafuri', 'camille.tafuri@aol.de']), dict_values([4369, 'Juan Wheeler', 'juan.wheeler@gilmore.net']), dict_values([4464, 'Leopoldo Johnson', 'leopoldo.johnson@hotmail.com.au']), dict_values([5626, 'Dietmar Grenier', 'dietmar.grenier@tele2.it']), dict_values([1669, 'Leonid Scholl', 'leonid.scholl@collin.com']), dict_values([5544, 'Olivie Contarini', 'olivie.contarini@marshall-wright.biz']), dict_values([6078, 'Jeffery Lacroix', 'jeffery.lacroix@medina.org']), dict_values([2580, 'Edeltraud Chavez', 'edeltraud.chavez@hotmail.com.au']), dict_values([3592, 'Mesut Morvan', 'mesut.morvan@gmail.com']), dict_values([4914, 'Gregory Jackson', 'gregory.jackson@ortiz.com']), dict_values([3848, 'Nicola Rossi', 'nicola.rossi@berry.org']), dict_values([2619, 'Eddie Collazo', 'eddie.collazo@gmail.com']), dict_values([4605, 'Philippe Gardner', 'philippe.gardner@howells-jones.net']), dict_values([6147, 'Roy Fox', 'roy.fox@tejeda.com']), dict_values([1383, 'Heiderose Garcia', 'heiderose.garcia@noos.fr']), dict_values([1757, 'Claudine Rowley', 'claudine.rowley@industrias.com']), dict_values([4390, 'Astrid Roht', 'astrid.roht@fastwebnet.it']), dict_values([4165, 'Auguste Burnett', 'auguste.burnett@yahoo.fr']), dict_values([4529, 'Pellegrino Allen', 'pellegrino.allen@gmail.com']), dict_values([6084, 'Angela Bowers', 'angela.bowers@laboratorios.com']), dict_values([2916, 'Michael Descamps', 'michael.descamps@gmail.com']), dict_values([2005, 'Heidelore Kennedy', 'heidelore.kennedy@guinizzelli.org']), dict_values([2261, 'Lucrezia Koch', 'lucrezia.koch@petit.com']), dict_values([5342, 'Ivan Accardo', 'ivan.accardo@web.de']), dict_values([4087, 'Karen Avogadro', 'karen.avogadro@yahoo.com']), dict_values([2761, 'Laetitia Gallet', 'laetitia.gallet@aubry.org']), dict_values([2908, 'Amico Gosselin', 'amico.gosselin@shaw.info']), dict_values([2155, 'Ilaria Bowen', 'ilaria.bowen@hotmail.it']), dict_values([5642, 'Marlen Coardi', 'marlen.coardi@colletti.eu']), dict_values([6217, 'Rafael Alexander', 'rafael.alexander@jenkins.com']), dict_values([4222, 'Herma Gabbana', 'herma.gabbana@hotmail.com']), dict_values([4798, 'Zachary Vespucci', 'zachary.vespucci@industrias.com']), dict_values([5660, 'Marisol Richard', 'marisol.richard@gmail.com']), dict_values([5000, 'Joseph Glover', 'joseph.glover@laposte.net']), dict_values([2809, 'Lauretta Neal', 'lauretta.neal@hotmail.de']), dict_values([3349, 'Simone Sauvage', 'simone.sauvage@yahoo.com']), dict_values([3647, 'Ramona Brooks', 'ramona.brooks@kensy.de']), dict_values([5745, 'Gioele Schwital', 'gioele.schwital@moody.com']), dict_values([2583, 'Elena Jimenez', 'elena.jimenez@yahoo.com.au']), dict_values([5441, 'Pam Vargas', 'pam.vargas@guillot.net']), dict_values([2090, 'Alison Morales', 'alison.morales@lewis.com']), dict_values([3386, 'Marc Aumann', 'marc.aumann@holland.com']), dict_values([1816, 'Carla Butler', 'carla.butler@yahoo.com']), dict_values([4718, 'Dionigi Bruce', 'dionigi.bruce@industrias.com']), dict_values([1677, 'Frank Henry', 'frank.henry@yahoo.com']), dict_values([4218, 'Brent Pons', 'brent.pons@proyectos.net']), dict_values([4548, 'Patricia Liebelt', 'patricia.liebelt@baca.org']), dict_values([1431, 'Micheletto Sykes', 'micheletto.sykes@thompson-thompson.com']), dict_values([2830, 'Rose Blanc', 'rose.blanc@grupo.com']), dict_values([4400, 'Vincent Singh', 'vincent.singh@gmail.com']), dict_values([5773, 'Jamie Peacock', 'jamie.peacock@interiano-nordio.com']), dict_values([4161, 'Giorgia Dijoux', 'giorgia.dijoux@paul.com']), dict_values([2062, 'Serena Piacentini', 'serena.piacentini@yahoo.de']), dict_values([3458, 'Dimitri Posada', 'dimitri.posada@gmail.com']), dict_values([3174, 'Alexa Barillaro', 'alexa.barillaro@ramos.net']), dict_values([5565, 'Megan Kuhl', 'megan.kuhl@despacho.com']), dict_values([1906, 'Kaitlyn Farinelli', 'kaitlyn.farinelli@outlo

In [67]:
# Create a contact_info DataFrame and add each list of values, i.e., each row 
# to the 'contact_id', 'name', 'email' columns.

contact_info_df = pd.DataFrame(dict_values, columns = ['contact_id', 'name', 'email'])
contact_info_df.head()

   contact_id               name                         email
0        4661    Cecilia Velasco  cecilia.velasco@rodrigues.fr
1        3765      Mariana Ellis       mariana.ellis@rossi.org
2        4187        Sofie Woods       sofie.woods@riviere.com
3        4941  Jeanette Iannotti   jeanette.iannotti@yahoo.com
4        2199     Samuel Sorgatz      samuel.sorgatz@gmail.com

In [68]:
# Check the datatypes.
contact_info_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   contact_id  1000 non-null   int64
 1   name        1000 non-null   object
 2   email       1000 non-null   object
dtypes: int64(1), object(2)
memory usage: 23.6+ KB

In [69]:
# Create a "first"name" and "last_name" column with the first and last names from the "name" column. 
contact_info_df[["first_name", "last_name"]] = contact_info_df["name"].str.split(" ", n = 2, expand = True)
# Drop the contact_name column
contact_cleaned_df = contact_info_df.drop(columns="name")
contact_cleaned_df.head()

   contact_id                         email first_name last_name
0        4661  cecilia.velasco@rodrigues.fr    Cecilia   Velasco
1        3765       mariana.ellis@rossi.org    Mariana     Ellis
2        4187       sofie.woods@riviere.com      Sofie     Woods
3        4941   jeanette.iannotti@yahoo.com   Jeanette  Iannotti
4        2199      samuel.sorgatz@gmail.com     Samuel   Sorgatz

In [70]:
# Reorder the columns
contact_cleaned_df = contact_info_df[["contact_id", "first_name", "last_name", "email"]]
contact_cleaned_df.head()

   contact_id first_name last_name                         email
0        4661    Cecilia   Velasco  cecilia.velasco@rodrigues.fr
1        3765    Mariana     Ellis       mariana.ellis@rossi.org
2        4187      Sofie     Woods       sofie.woods@riviere.com
3        4941   Jeanette  Iannotti   jeanette.iannotti@yahoo.com
4        2199     Samuel   Sorgatz      samuel.sorgatz@gmail.com

In [71]:
# Check the datatypes one more time before exporting as CSV file.
contact_cleaned_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   contact_id  1000 non-null   int64
 1   first_name  1000 non-null   object
 2   last_name   1000 non-null   object
 3   email       1000 non-null   object
dtypes: int64(1), object(3)
memory usage: 31.4+ KB

In [72]:
# Export the DataFrame as a CSV file. 
contact_cleaned_df.to_csv("Resources/contacts.csv", encoding='utf8', index=False)